.toggle-btn {
	display: block;
	margin: 10px auto 0 auto;
	min-width: 150px;
	padding: var(--spacing-sm);
	background-color: var(--accent-color);
	box-shadow: var(--box-shadow);
	color: var(--bg-color);
	border-radius: var(--border-radius);
	border: none;
	transition: all 0.2s ease;
}

.toggle-btn:hover {
	background-color: var(--accent-hover);
	transform: translateY(-4px);
}
