.button-item {
	width: fit-content;
	padding: var(--spacing-xs);
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
}

.button-item.selected {
	background-color: var(--accent-color);
	color: var(--bg-color);
}

.button-item.selected:hover {
	background-color: var(--accent-hover);
}

.button-item:hover {
	background-color: var(--color-hover);
	transform: translateY(-1px);
}
