.button-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xs);
	padding: var(--spacing-sm);
	min-width: 100px;
	min-height: 68px;
	border-radius: var(--border-radius);
	border: none;
	box-shadow: var(--box-shadow);
	background: linear-gradient(to bottom right, var(--bg-color) 0%, var(--section-bg) 40%, var(--line-color) 100%);
	transition: 0.2s ease;
}

body.dark-theme .button-item {
	background: linear-gradient(135deg, rgba(106, 237, 138, 0.5) 0%, var(--section-bg) 55%, var(--bg-color) 95%);
	color: var(--text-color);
}

.button-item.selected {
	background-color: var(--accent-color);
	color: var(--bg-color);
}

body.dark-theme .button-item.selected {
	background-color: #7fa58e;
	color: var(--accent-hover);
}

.button-item.selected:hover {
	background-color: var(--accent-hover);
}

.button-item:hover {
	background-color: var(--color-hover);
	transform: translateY(-1px);
}

.icon {
	flex-shrink: 0;
}
