.nav-tabs {
	display: flex;
	max-width: 200px;
}

.tab {
	background-color: var(--bg-color);
	color: var(--text-color);
	border: 1px solid var(--line-color);
	border-bottom: none;
	padding: var(--spacing-sm);
	box-shadow: var(--box-shadow);
	margin-top: var(--spacing-xs);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	transition: all 0.2s ease;
	flex: 1;
	cursor: pointer;
}

.tab.active {
	transform-origin: bottom center;
	transform: scaleY(1.2);
	flex: 3;
}

.tab:hover {
	background-color: var(--color-hover);
}
