.technical-skills-list {
	list-style-position: inside;
}

.technical-skills-list li {
	padding-bottom: var(--spacing-xs);
}

.skills-items-content {
	gap: var(--spacing-xs);
	margin-top: var(--spacing-md);
	padding: var(--spacing-xs);
	font-size: var(--font-size-small);
	background-color: var(--section-bg);
	border-radius: var(--border-radius);
	width: 100%;
}

.skills-items-content.interactive-mode {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.skill-item {
	width: fit-content;
	padding: var(--spacing-xs);
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
}

.skill-item.selected {
	background-color: var(--accent-color);
	color: var(--bg-color);
}

.skill-item.selected:hover {
	background-color: var(--accent-hover);
}

.skill-item:hover {
	background-color: var(--color-hover);
	transform: translateY(-1px);
}
