.item-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	margin-top: var(--spacing-md);
	padding: var(--spacing-xs);
	font-size: var(--font-size-small);
	background-color: var(--section-bg);
	border-radius: var(--border-radius);
	width: 100%;
}

.item-checked-wrapper {
	display: flex;
	gap: var(--spacing-xs);
}

.item-details {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.item-title-group {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}

.item-logo-title {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
}

.item-logo-title img {
	width: 22px;
	height: 22px;
	border: 1px solid var(--accent-color);
}

.experience-responsabilities {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
	list-style-position: inside;
	padding-left: var(--spacing-md);
}

.experience-resume {
	padding-top: var(--spacing-md);
}

@media (width >= 500px) {
	.item-content {
		gap: var(--spacing-md);
	}

	.item-details {
		flex-direction: row;
		justify-content: space-between;
	}

	.item-title-group {
		flex: 1;
	}

	.item-details > .item-title-group:last-child {
		align-items: flex-end;
	}

	.item-title-group p:first-child {
		font-size: var(--font-size-medium);
	}

	.item-logo-title  {
		font-size: var(--font-size-medium);
	}

	.item-logo-title img {
		width: 32px;
		height: 32px;
	}
}

@media (width >= 700px) {
	.item-content {
		padding: var(--spacing-md);
	}
}