.item-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	margin-top: var(--spacing-md);
	padding: var(--spacing-xs);
	font-size: var(--font-size-small);
	background-color: var(--section-bg);
	border-radius: var(--border-radius);
	width: 100%;
}

.item-header {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}



.experience-responsibilities {
	padding-left: var(--spacing-md);
}

.item-title-group.interactive-mode {
	display: flex;
	flex-direction: column;
}

.item-title-group.interactive-mode label {
	display: flex;
	align-items: center;
}

.item-subtitle-group.interactive-mode {
	display: flex;
	flex-direction: column;
}

.item-subtitle-group.interactive-mode label {
	display: flex;
	align-items: center;
}

.experience-responsibilities.interactive-mode {
	display: flex;
	flex-direction: column;
	padding-left: var(--spacing-xs);
}

.experience-responsibilities.interactive-mode label {
	display: flex;
	align-items: center;
}

.experience-responsibilities li {
	padding-bottom: var(--spacing-xs);
}