.experience-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	margin-top: var(--spacing-md);
	padding: var(--spacing-xs);
	font-size: var(--font-size-small);
	background-color: var(--section-bg);
	border-radius: var(--border-radius);
	width: 100%;
}

.experience-company-date {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}

.experience-responsabilities {
	padding-left: var(--spacing-md);
}

.experience-company.interactive-mode {
	display: flex;
	flex-direction: column;
}

.experience-company.interactive-mode label {
	display: flex;
	align-items: center;
}

.experience-date.interactive-mode {
	display: flex;
	flex-direction: column;
}

.experience-date.interactive-mode label {
	display: flex;
	align-items: center;
}

.experience-responsabilities.interactive-mode {
	display: flex;
	flex-direction: column;
	padding-left: var(--spacing-xs);
}

.experience-responsabilities.interactive-mode label {
	display: flex;
	align-items: center;
}
