.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-md);
	padding-top: var(--spacing-xl);
}

.header-name {
	font-size: var(--font-size-title);
}

.header-content {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--spacing-xs);
	font-size: var(--font-size-small);
	border-bottom: 1px solid var(--text-color);
	padding-bottom: var(--spacing-md);
}

.header-content a {
	color: var(--accent-color);
	position: relative;
	text-decoration: none;
}

.header-content a:hover {
	color: var(--accent-hover);
}

.header-content a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0%;
	height: 1px;
	background-color: var(--accent-color);
	transition: width 0.3s ease;
}

.header-content a:hover::after {
	width: 100%;
	color: var(--accent-hover);
}

.header-summary {
    text-align: center;
    font-size: var(--font-size-small);
    line-height: var(--spacing-lg);
}
