*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	color: var(--text-color);
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--bg-color: #fff;
	--section-bg: #f1f1f1db;
	--line-color: #414141b0;
	--color-hover: #d4d6d8;

	--text-color: #222222;
	--text-secondary: #555555;
	--text-light: #888888;

	--accent-color: #0073e6;
	--accent-hover: #005bb5;

	--font-family: "Helvetica", "Arial", sans-serif;
	--font-size-base: 16px;
	--font-size-xsmall: 10px;
	--font-size-small: 14px;
	--font-size-large: 20px;
	--font-size-title: 28px;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 24px;
	--spacing-xl: 32px;

	--container-width: 95%;
	--border-radius: 4px;

	--box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.dark-theme {
	--bg-color: #0a0a0a;
	--section-bg: rgba(50, 80, 50, 0.3);
	--line-color: #444;
	--color-hover: #333333;

	--text-color: #ffffff;
	--text-secondary: #c0c0c0;
	--text-light: #888888;

	--accent-color: #6aed8a;
	--accent-hover: #047724;

	--box-shadow: 0 2px 6px rgba(106, 237, 138, 0.5);
}

.app-container {
	width: var(--container-width);
	margin: 0 auto;
	box-shadow: var(--box-shadow);
	padding-bottom: var(--spacing-sm);
	margin-bottom: var(--spacing-sm);
	position: relative;
}

body.dark-theme {
	background-color: var(--bg-color);
}

body.dark-theme .app-container {
	background: radial-gradient(ellipse at 20% 20%, var(--bg-color) 0%, #000000 70%),
		radial-gradient(ellipse at 80% 80%, #142b15 0%, transparent 50%);
	background-blend-mode: screen;
	color: var(--text-color);
}

.dark-theme-container-app {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

h2 {
	font-size: var(--font-size-large);
	border-bottom: 1px solid var(--text-color);
	width: 100%;
	padding-top: var(--spacing-xs);
	padding-left: var(--spacing-xs);
	border-radius: var(--border-radius);
}

.section-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--spacing-xl) var(--spacing-xs) 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
}
