.tab {
	background-color: var(--bg-color);
	border: 1px solid var(--line-color);
	border-bottom: none;
	padding: var(--spacing-sm);
	box-shadow: var(--box-shadow);
	margin-top: var(--spacing-xs);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.tab[data-tab="interactive"] {
	border-right: none;
}

.tab:hover {
	background-color: var(--color-hover);
}
